.sign-up-form input[type="email"] {
    padding: 2px 10px;
    margin: 0 15px 0 0;
    width: 264px;
    height: 42px;
    float: left;
}

.sign-up-form form p {
    display: flex;
}

.recipe-section .text-holder {
    flex: auto;
}

.info-block-2 .ai1ec-single-event {
    margin: 35px 0 0;
}

.btns-side-block .ai1ec-btn-group-vertical {
    margin-bottom: 0!important;
}

.recipe-section .directions-block li:before {
    position: static;
    margin-right: 5px;
    min-width: 27px;
    display: inline-flex;
    justify-content: flex-end;
    margin-left: -32px;
}

.drop-holder > ul > li:last-child:hover {
    border-radius: 0;
}

.drop-holder > ul > li:last-child a:hover {
    border-radius: 0 10px 10px 0;
}

/* .recipe-section .directions-block li {
    padding: 0;
} */



input.wpcf7-not-valid {
    background-color: pink;
}

span.wpcf7-not-valid-tip {
    display: none !important;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-spam-blocked,
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
    border: none;
    margin: 20px 0 0;
    padding: 0;
}

div.wpcf7-validation-errors {
    color: red;
    text-align: left;
}

div.wpcf7-mail-sent-ok {
    color: green;
    text-align: left;
}

.wpcf7-form span.ajax-loader {
    display: none !important;
}

.sign-up-form .wpcf7-form p {
    margin: 0;
}

.day {
    text-transform: uppercase;
}

body:not(.home) .drop .active-el:before {
    display: none;
}

.ai1ec-day a.ai1ec-event-container .ai1ec-event {
    width: 100% !important;
    padding: 7px 5px 48px !important;
}

.ai1ec-dropdown-menu a:focus {
    color: #a69673!important;
}

.ai1ec-dropdown-menu a:hover {
    color: #513616!important;
}

.ai1ec-dropdown-menu .ai1ec-active a:focus {
    color: #513616!important;
}

.ai1ec-dropdown-menu > .ai1ec-active > a:hover,
.ai1ec-dropdown-menu > .ai1ec-active > a:focus {

}

.fancybox-infobar .fancybox-button {
    width: 88px;
    height: 88px;
}

.fancybox-infobar .fancybox-button:after {
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
}

.fancybox-infobar .fancybox-infobar__body {
    height: 88px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.fancybox-button--right::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.fancybox-button--left::after {
    transform: translate(-50%, -50%) rotate(-135deg);
}

@media (max-width: 1024px) {
    .drop-holder li.current_page_item:before {
        content: "";
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16.5px 0 16.5px 18px;
        border-color: transparent transparent transparent #dba400;
        background-color: transparent;
    }
}

@media (max-width: 479px) {
    .drop-holder li.current_page_item:before {
        content: "";
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 0 12px 14px;
        border-color: transparent transparent transparent #dba400;
        background-color: transparent;
    }
}

@media (max-width: 767px) {
    .form.contact-form .wpcf7-form-control.wpcf7-text,
    .form.contact-form .wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    }

}

.no-events {
    text-align: center;
}

.upcoming-events .text-block a {
    color: #fff;
    text-decoration: none;
}
.upcoming-events .text-block a:hover {
    text-decoration: underline;
}

/* wp plugin style  */
.dcwss.dc-wall ul.stream {
    margin: 0 -1% !important;
    padding: 0;
}
.dcwss.dc-wall.col-4 .stream li {
    width: 23%;
    padding-left: 0;
    margin: 0 1% 2%;
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
/* .wall-outer .dcsns-toolbar {
    border: 2px solid #a69673;
    border-radius: 6px;
    background: rgba(255, 255, 255, .4);
    padding: 20px;
    margin: 0 0 43px 0;
    text-align: center;
} */
/* .wall-outer .dcsns-toolbar .filter {margin: 0;} */
/* .wall-outer .dcsns-toolbar .filter li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
} */

.wall-outer .dcsns-toolbar .filter {
    padding: 16px 25px 7px 25px;
    margin: 0 0 43px 0;
}

.wall-outer .dcsns-toolbar .filter li {
    margin: 0 10px 8px 10px;
    height: auto;
}

.wall-outer .dcsns-toolbar .filter li a {
    padding: 0;
    margin: 0;
    height: auto;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    text-decoration: none;
    color: #a69673;
    float: none;
    display: inline;
}

.stream li.dcsns-facebook .section-intro,
.filter .f-facebook a:hover,
.wall-outer .dcsns-toolbar .filter .f-facebook a.iso-active,
.wall-outer .dcsns-toolbar .filter li a {
    background: none !important;
    background-color: transparent !important;
}

.wall-outer .dcsns-toolbar .filter li a:hover,
.wall-outer .dcsns-toolbar .filter li a.iso-active,
.wall-outer .dcsns-toolbar .filter li a.iso-active span {
    color: #513616;
}

.wall-outer .dcsns-toolbar .filter .link-all,
.wall-outer .dcsns-toolbar .filter .socicon {
    color: #a69673;
    margin: 0 9px 0 0;
    position: relative;
    top: 2px;
}

.wall-outer .dcsns-toolbar .filter .link-all {
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    color: #513616;
    margin: 0 10px 0 0;
    background: none !important;
}
.dcwss.dc-wall .stream li .section-user {
    line-height: 1.2;
}
/* .wall-outer .dcsns-toolbar .filter a:hover .iso-active .socicon,
.wall-outer .dcsns-toolbar .filter .iso-active .socicon {color: #fff;} */
.wall-outer .dcsns-toolbar .filter a:hover .socicon,
.iso-active {
    color: #513616;
}
.wall-outer .dcsns-toolbar .filter a .socicon {
    transition:  all .3s ease;
}

body #dcsns-filter li a {
    background-color: transparent!important;
    font-size: 18px;
}
.dcwss.dc-wall .dcwss-content {padding: 0 40px;}

.blog-section-2 .articles .read {
    display: table;
}

.comment-form input[type="submit"] {
    font: 900 20px/43px "Alegreya Sans", Arial, Helvetica, sans-serif;
    padding: 0 20px;
    font-size: 20px;
    transition: all .3s ease;
}

.comment-form input[type="submit"]:hover {
    background-color: #e6c13b;
}


@media (max-width: 1023px) {
    .dcwss.dc-wall.col-4 .stream li {
        width: 31.3%;
    }

    .comment-form input[type="submit"] {
        font-size: 15px;
        height: 32px;
        line-height: 34px;
    }

    #menu-main-menu > li.hover > ul,
    #menu-main-menu > li.hover > ul > li.hover > ul {
        display: block;
    }

    #menu-main-menu > li > a .opener:before {
        transform: translate(-50%, -50%) rotate(-90deg);
    }

    #menu-main-menu > li.hover > a .opener:before {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    #menu-main-menu > li.hover > ul > li.hover > a span i:after {
        transform: translate(-50%, -15%) rotate(93deg) skew(16deg);
    }

    #menu-main-menu > li:first-child > ul {
        left: 0;
    }

    #menu-main-menu .open-close.active .opener {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #menu-main-menu .open-close.active.hover .opener {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@media (max-width: 767px) {
    .dcwss.dc-wall .dcwss-content {padding: 0;}
    .dcwss.dc-wall.col-4 .stream li {
        width: 48%;
    }
    .wall-outer .dcsns-toolbar {margin: 0;}
    .sign-up-form input[type="email"]{
        height:32px;
    }
}
@media (max-width: 479px) {
    .dcwss.dc-wall.col-4 .stream li {
        width: 98%;
    }


    .info-block-2 .ai1ec-single-event {
        margin: 5px 0 0;
    }

    .sign-up-form input[type="email"]{
        width:220px;
    }
}

.dcwss.dc-wall .stream li .section-text {
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
  /*max-width: 200px;*/
}

.testimonials-block li.big {
    width: 100%;
}

.single-ai1ec_event .intro-section {
    overflow: visible;
}

.ai1ec-subscribe-dropdown > .ai1ec-subscribe{
    font-size:16px;
    margin-top:2px;
    padding-top:8px !important;
}
.ai1ec-single-event .ai1ec-actions .ai1ec-fa-fw{
    font-size:16px;
}

.intro-section .center-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 1023px){
.intro-logo-responsive {
        display: block;
        align-self:center;
        margin-bottom:10px;
    }
}

/* .festival-holder .tab-content p { */
    /* color: #fff; */
/* } */


.pagination {
    overflow: visible;
}

.pagination:after {
    content:  '';
    clear: both;
    display: table;
}

.pagination a {
    font: 900 16px/1.20 "Alegreya Sans", Arial, Helvetica, sans-serif;
    position: relative;
    border-radius: 10px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    box-shadow: 4px 4px 2px 0 rgba(77, 77, 77, .22);
    background: #f3de54;
    background: -webkit-linear-gradient(top, #f3de54 0%, #e2b733 100%);
    background: linear-gradient(to bottom, #f3de54 0%, #e2b733 100%);
}

.pagination a:hover {
    opacity: .8;
}

.pagination .al,
.pagination .ar {
    background: transparent;
}

.pagination .al a {
    padding: 7px 15px 5px 29px;
}

.pagination .ar a {
    padding: 7px 29px 5px 15px;
}

.pagination .ar a:before {
    content: "\e900";
    font-family: "icomoon";
    position: absolute;
    right: 13px;
    top: 50%;
    line-height: 1;
    color: #dba500;
    font-weight: normal;
    font-size: 14px;
    margin: -1px 0 0;
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    transform: translateY(-38%);
}

.pagination .al a:before {
    content: "\e900";
    font-family: "icomoon";
    position: absolute;
    left: 13px;
    top: 50%;
    line-height: 1;
    color: #dba500;
    font-weight: normal;
    font-size: 14px;
    margin: -1px 0 0;
    -webkit-transform: translateY(-40%) rotate(180deg);
    -ms-transform: translateY(-40%) rotate(180deg);
    transform: translateY(-40%) rotate(180deg);
}

.post .entry h2:first-child {
    margin-top: 0;
}

.post .entry h2 {
    margin-top: 40px;
}

.fancybox-gal {
    text-decoration: none;
    text-transform: uppercase;
    color: #21883b;
    font: 700 16px/1.2 "Alegreya Sans", Arial, Helvetica, sans-serif;
    position: relative;
    padding: 0 14px 0 0;
}

.fancybox-gal:before {
    content: "\e900";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    font-size: 14px;
    line-height: 1;
    font-weight: normal;
    color: #dba500;
    margin: -1px 0 0;
}

body.page-template-policies .text-block img  {
    border-radius: 4px;
    overflow: hidden;
    border: 3px solid #fff;
}

.deparmtent-block .box-block .img-holder {
    position: relative;
}

.deparmtent-block .box-block .img-holder:after {
    content:  '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#wrapper .btn-primary {
    display: inline-block;
    vertical-align: top;
    font: 900 16px/1.20 "Alegreya Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #30553a;
    position: relative;
    border-radius: 10px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    box-shadow: 4px 4px 2px 0 rgba(77, 77, 77, .22);
    text-decoration: none;
    background: #f3de54;
    background: -webkit-linear-gradient(top, #f3de54 0%, #e2b733 100%);
    background: linear-gradient(to bottom, #f3de54 0%, #e2b733 100%);
    padding: 7px 29px 5px 15px;
}

#wrapper .btn-primary:before {
    content: "\e900";
    font-family: "icomoon";
    position: absolute;
    right: 13px;
    top: 50%;
    line-height: 1;
    color: #dba500;
    font-weight: normal;

    font-size: 14px;
    margin: -1px 0 0;
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    transform: translateY(-38%);
}

#wrapper .btn-secondary {
    display: inline-block;
    vertical-align: top;
    font: 700 16px/1.20 "Alegreya Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #30553a;
    position: relative;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    text-decoration: none;
    padding: 0 29px 0 0;
}

#wrapper .btn-secondary:before {
    content: "\e900";
    font-family: "icomoon";
    position: absolute;
    right: 13px;
    top: 50%;
    line-height: 1;
    color: #dba500;
    font-weight: normal;

    font-size: 14px;
    margin: -1px 0 0;
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    transform: translateY(-38%);
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: .8;
}

.button-previous.icon-chevron-left,
.button-next.icon-chevron-right {
    -webkit-transition: color .3s;
    transition: color .3s;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    text-decoration: none;
    z-index: 1;

    display: block;
    font-size: 46px;
    color: #fff;
}

.button-previous.icon-chevron-left {
    left: 11px;
}

.button-next.icon-chevron-right {
    right: 11px;
}

.fancybox-close-small {
    text-decoration: none;
    line-height: 31px;
}

.fancybox-image {
    padding: 5px;
    background-color: #fff;
}


#content .holder-gallery {
    margin: -7px 0 0;
}

.holder-gallery .box-block {
    margin-bottom: 40px;
}

.photos-gallery-section h2 {
    font-size: 36px;
    margin-bottom: 7px;
}

.photos-gallery-section .year li li {
    width: 182px;
}

.bl-video-header {
    margin-bottom: 50px;
}

.bl-video-header h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

.bl-video-header .video-block {
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    margin-right: -10px;
}

.bl-video-header iframe {
    max-width: 100%;
}

.bl-video-header .video-fluid {
    max-width: 478px;
    width: 100%;
    border:  4px solid #fff;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .28);
    margin-right: 10px;
}

.bl-video-header .video-fluid .video-holder {
    padding: 58% 0 0;
}

#sidebar .time.time-one-line {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

#sidebar .time.time-one-line span {
    width: auto;
}

#sidebar .time .separator {
    margin: 0 7px;
}

input[type="submit"], input[type="reset"] {
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 0 rgba(77, 77, 77, .22);
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: .8;
    background-color: #e6c13b;
}

.video-fluid .video-holder {
    padding: 60% 0 0;
}


.text-block a,
.posts-list a,
.post a,
.text-holder a,
.blog-article a {
    text-decoration: none;
    color: #21883b ;
    font-weight: 700;
}

.timely a {
    color: inherit;
}

.ai1ec-calendar-view .ai1ec-posterboard-image-container .btn {
        font: 900 18px/1.20 "Alegreya Sans", Arial, Helvetica, sans-serif!important;
        color: #30553a!important;
        box-shadow: 4px 4px 2px 0 rgba(77, 77, 77, .22);
        border: 0;
}

.posts-list li {
    list-style:  none;
}

.posts-list {
    margin-bottom: 30px;
}

.text-block a:hover {
    text-decoration: underline
}

#content > .holder {
    padding: 10px 0 40px;
}

.video-section {
    padding: 40px 0;
}

.page-template-festival .festival-holder .tab-content p {
    /*color: #fff;*/
}

#content:only-child {
    padding: 0;
}

.video-section a.btn {
    font-weight: 900;
    color: #30553a;
}

.video-section a.btn:hover {
    text-decoration: none;
}

.page-template-default .promo-section .text-holder,
.page-template-about .promo-section .text-holder {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.page-template-default .promo-section .bg-stretch,
.page-template-about .promo-section .bg-stretch {
    display: block;
}

.blog-section-2 .msie .read::before, .firefox .blog-section-2 .read::before {
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
}

div.main-holder {
    padding: 32px 0 148px;
}

html.edge #wrapper::before,
html.edge #wrapper::after {
    z-index: 0;
}

html.edge #wrapper .hold {
    position: relative;
    z-index: 1;
}



@media (max-width: 1023px) {
    .photos-gallery-section h2,
    .bl-video-header h2 {
        font-size: 26px;
    }

    .btn-play-video {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 767px) {

    .bl-video-header .video-block {
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
    }

    .bl-video-header .video-fluid {
        max-width: 100%;
        margin: 0 0 20px;
    }

    .bl-video-header {
        margin-bottom: 20px;
    }

    .holder-gallery .box-block {
        margin-bottom: 20px;
    }
}

.wall-outer .dcsns-toolbar .filter li a {
    width: auto;
}

.blog-article div.paragraph {
    letter-spacing: .15px;
    margin: 0 0 14px 0;
}

.wsite-multicol-table td {
    border: 0;
}
.recipes-block a:hover,
.blog-section-2 .articles a:hover {
    text-decoration: underline;
}
.recipes-block a,
.blog-section-2 .articles a {
    color: #21883b;
    text-decoration: none;
}

.recipes-block h3 {
    color: #21883b;
}

#mce-responses {
    line-height: 20px;
}

#mce-error-response {
    color: red;
}

#mce-success-response {
    color: green;
}

.events-gallery h3 a {
    color: white;
}

.event.widget h4 a {
    color: #4e3111;
}

.footer .doc a:hover {
    text-decoration: none;
}

.press-block {
    margin-bottom: 20px;
}