body {
    overflow-x: hidden;
}

#rootAnchor {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100svw;
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    background: #2a4731;
    text-align: center;

}

#appContainer {
    max-width: 1200px;
    gap: 12px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* body {
    height: auto !important;
} */

p {
    margin: 0;
}

input,
select {
    background: none;
    border: none !important;
    text-decoration: none;

    font-weight: 600;
}

#listWrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

#toolbarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
    position: sticky;
    top: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 4px);
}

.filterToolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;


    div {
        width: min-content;
        height: auto;
        padding: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        border-radius: 30px;
        background: #e9e5d4;
    }
}

.inputWrapper {
    padding: 5px 10px 5px 5px;
}